.collapsed-nav {
  display: none;
}

.expanded-nav {
  display: block;
}

.container {
    margin-top: 30px;
  }
  
  h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .video {
    margin-bottom: 50px;
  }
  
  .video h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .video p {
    font-size: 16px;
    margin-top: 5px;
    color: #777;
  }
  
  .video ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .video video {
    max-width: 100%;
    height: auto;
  }


.screenshot {
    display: inline-block;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .screenshot img {
    max-width: 100%;
    height: auto;
  }

  .cta {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .gallery-item {
    width: calc(33.33% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .gallery-item .caption {
    text-align: center;
    margin-top: 10px;
  }

  @media (max-width: 767px) {
    .gallery-item {
      width: calc(50% - 20px);
    }
  }

  .timeline-thumbnail {
    width: 200px; 
    height: auto;
  }

  body {
    height: 100%;
  }

  .container-full {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-full img {
    max-width: 100%;
    max-height: 100%;
  }

  