.container {
    margin-top: 30px;
  }
  
  h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .video {
    margin-bottom: 50px;
  }
  
  .video h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .video p {
    font-size: 16px;
    margin-top: 5px;
    color: #777;
  }
  
  .video ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .video video {
    max-width: 100%;
    height: auto;
  }